@{
    ViewBag.Title = "Login";
    Layout = null;
}
@using(Html.BeginForm("Login","Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()@*Preventing Cross-Site Request Forgery*@
    @Html.ValidationSummary(true)
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/JsLogin.js"></script>

    <title></title>

</head>
<body>
    <div>
        <div class="container">

            <div class="row" id="pwd-container">
                <div class="col-md-4"></div>
                
                <div class="col-md-4">
                    <section class="login-form">
                        <h2 style="color:#337ab7">Sistema Help Desk</h2>
                        <input type="text" id="NombreUsuario" name="NombreUsuario" required="required" placeholder="Nombre de Usuario" class="form-control input-lg" />
                        <br />
                        <input type="password" id="Contrasena" name="Contrasena" class="form-control input-lg" placeholder="Contraseña" required="required"/>


                        <div class="pwstrength_viewport_progress"></div>
                        <br /><br />
                        <input type="submit" id="Button1" value="Iniciar Sesion" class="btn btn-lg btn-primary btn-block" />
                        <div class="form-links">
                            <a href="~/Usuarios/NuevoUsuario" style="color:#337ab7;">Crear Cuenta</a> 
                        </div>
                        <div class="form-links">
                            <a href="https://github.com/juanozoria">My GitHub</a>
                        </div>
                        <div class="form-links">
                            <label id="lblInfo"></label>
                        </div>
                    </section>
                </div>

                <div class="col-md-4"></div>

            </div>
        </div>
    </div>
</body>
</html>
}
