@{
    ViewBag.Title = "RegistroUsuario";
      var idtipouser = CapaLogica_HelpDesk.Usuarios.GetOne(int.Parse(User.Identity.Name)).IdTipoUsuario;
    if(idtipouser == 1) //Si es un Usuario normal solo podra Generar nuevos soportes, no tendra acceso al layout.
    {               
    Layout = null;
    }
}
@using (Html.BeginForm("NuevoUsuario", "Usuarios", FormMethod.Post))
{
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/simple-sidebar.css" rel="stylesheet" />

<div class="container-fluid" style="margin-left:20%;">
   @* @using (Html.BeginForm("NuevoUsuario", "Usuarios"))
    {
    *@<div class="col-md-8"></div>
    <h2>Registro de Usuarios</h2>
    <div class="row">
        <form role="form">
            <div class="col-lg-6">
                <div class="well well-sm"><strong>Campos Requeridos<span class="glyphicon glyphicon-asterisk" style="color:red;"></span></strong></div>
                <div class="form-group">
                    <label>Tipo de Usurio</label>
                    <div class="input-group">
                      @Html.DropDownList("IdTipoUsuario", null, "SELECCIONE", new { @class = "form-control Requerido" })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputName">Primer Nombre</label>
                    <div class="input-group">
                        <input type="text" class="form-control Requerido" name="PrimerNombre" id="PrimerNombre" placeholder="Primer Nombre" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk Requerido" style="color:red;"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Segundo Nombre</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="SegundoNombre" name="SegundoNombre" placeholder="Segundo Nombre" required>
                        <span class="input-group-addon"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Nombre de Usuario</label>
                    <div class="input-group">
                        <input type="email" class="form-control Requerido" id="NombreUsuario" name="NombreUsuario" placeholder="Nombre de Usuario" required">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk" style="color:red;"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control Requerido" id="Email" name="Email" placeholder="Escriba su Email" required">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk" style="color:red;"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <div class="input-group">
                        <input type="password" class="form-control Requerido" id="Contrasena" name="Contrasena" placeholder="Escriba su Contraseña" required">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk" style="color:red;"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Departamento que Perteneces</label>
                    <div class="input-group">
                         @Html.DropDownList("DepartamentId", null, "SELECCIONE", new { @class = "form-control Requerido" })
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk" style="color:red;"></span></span>
                    </div>
                </div>
               
                <input type="button" value="Guardar" onclick="Sumit();" class="btn btn-info pull-right">
            </div>
        </form>
    </div>
</div>
}
<script src="~/Scripts/jquery.js"></script>
<script>

    //funcion validar form
    function Sumit() {

        if (ValidarForm()) {
            $('form').submit();
        } else {

            alert("Formulario incompleto favor Verificar los campos marcados!");
        }


    }

    //Funcion que alerta los campos requeridos.
    function ValidarForm() {
        var result = true;
        $(".Requerido").each(function () {
            if (this.value == '') {
                result = false;
                $(this).attr("style", "border-color:#FF8000; height:33px");
            }
        });

        return result;
    }
</script>
